*{
	margin:0;
	padding:0;
}

body{
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
}
.container__menu__educap{
	display: flex;
    flex-flow: column wrap; 
    width: 100%;
    margin:1%;	
}
.menu__educap{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5%;
	position: fixed;
	margin-left: 35%;
}
.menu__educap__item{
	margin: 4%;
	color: rgb(129, 132, 131);
	text-decoration: none;
	font-size: 1.3em;
}
.menu__educap__item__modificado{
	border: solid 1px rgb(129, 132, 131); 
	padding: 2px;

}

.coanteiner___educap__inicio{
	display: flex;
	justify-content: space-between;
}

.container1__educap__logo{
	width: 34%;
	height: 110vh;
	display: flex;
	justify-content: center;


}
.container2__educap__logo{
	width: 34%;
	height: 110vh;
	display: flex;
	justify-content: center;
	align-items: center;

}
.container3__educap__logo{
	width: 25%;
	margin-bottom: 20%;

}
.logo__educap1{
	width: 100%;
}

.logo__educap2{
	width: 100%;
}

.logo__educap3{
	width: 100%;
}
.logo__educap3__parag{
	border:solid 1px #000;
	padding: 5%;
	width: 65%;
	position: relative;
	bottom: 40%;
}




/*.logo1{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 20px;
}

.div-introdução{
	display: flex;
	justify-content: flex-end;
	margin: 40px;
	margin-top: 169px;
}

.introdução{
	font-family:;
	font-size: 16px;
	color: rgb(158,158,158);
	font-style: normal;
	text-align: left;
	line-height: 19.2px,
	letter-spacing: 0em;
	width: 20%;
	margin: 10px;
}

.linha{
	color: black;
	border: dashed;
	border-top-width: thin;
	border-right: none;
	border-left: none;
	border-bottom: none;
	color: rgb(160,160,160);
}

.logo1{
	display: flex;
	justify-content: center;
	margin-top: 169px;
}

.logo{
	width: 100%;
	height: 36%;
}

.sobre{
	height: : 100vh;
}

.projetos{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.crianças{
	height:32%;
	width: 43%;
}

.historia{
	font-family:;
	font-size: 21px;
	color:rgb(150,150,150);
	font-style: normal;
	text-align: left;
	line-height: 25.2px;
	letter-spacing: 0em;
	display: flex;
	justify-content: center;
	width: 40%;
	margin: 40px;
}

.img-leia-mais{
	width: 30px;
	height: 30px;
}

.Leiamais{
	display: flex;
	justify-content: center;
	font-size: 17px;
	color: rgb(150,150,150);
	font-style: normal;
	text-align: center;
	line-height: 20.4px;
	letter-spacing: 0em;
}

.slide{
	font-family:;
	font-size: 13,8px;
	color:rgb(153,153,153);
	display: flex;
	justify-content: center;
	text-align: center;
	line-height: 16.5px;
	letter-spacing: 0em;
	list-style: none;
}

.menu-slide{
	margin: 8px;

}

}
.bc{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 20px;
	margin-top: 37px;
}

.biblioteca{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 20px;
	width: 435px;
	height: 230px;
	margin: 10px;
}

.div-biblioteca{
	display: flex;
	justify-content: center;
}

.biblioteca-descrição{
	font-family: :;
	font-size: 20px;
	color: rgb(150, 150, 150);
	font-style: normal;
	text-align: left;
	line-height: : 25.2px;
	letter-spacing: : 0;
	width: 265px;
	}

h2{
	margin-left: 340px;
	font-size: :21px;
	color: rgb(153, 153, 153);
	font-style: all;
	text-align: left;
	line-height: 25.2px;
	letter-spacing: 0;
}

.informativo{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	margin: 10px;
	height: 100vh;
}

.doc{
	width: 360px;
	height: 210px;
	margin: 20px;
}
.jornal{
	height: 80px;
	width: 104px;
	margin: 20px;
}

.paragrafo-jornal{
	font-size: 21px;
	color: rgb(3,111,239);
	text-decoration: underline;
	text-align: left;
	line-height: 25.2px;
	letter-spacing: 0em;
}

.noticias{
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.paragrafo-comentario{
	font-size: 21px;
	color: rgb(3,111,239);
	text-decoration: underline;
	text-align: left;
	line-height: 25.2px;
	letter-spacing: 0em;
}

.Contribuicoes{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

.contribuicao{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 20%;
	margin-left: 4%;
}

.mao{
	width: 70%;
}

.oi{
	margin: 10%;
}

.parag-mao{
	text-align: center;
	width: 95%;
	font-size: 24.6px;
	color:rgb(193,193,193);
	font-style: normal;
	text-align: center;
	line-height: 25.5px;
	letter-spacing: 0em;
	margin-left:5px;
}

.contatos{
	display: flex;
	justify-content: center;
	background-color: #ebebe0;
	margin: 151px;
}

.div1-footer{
	display: flex;
	justify-content: center;
}

.verde{
	display: flex;
}

.img-verde{
	width: 80px;
	height: 80px;
	margin:1%;
}

.logos-contatos{
	display: flex;
	margin: 3%;
}

.logo-rede-social{
	width: 30px;
	height: 30px;
	margin: 3px;
}

.parag-contribuições{
	font-size: 15px;
	color: #898989;
	margin: 7px;
}

.imagem-contribuidores{
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

.img-contribuidores{
	width: 56px;
	height: 50px;
	margin: 8px;
}

.img-contribuidores1{
	width: 70px;
	height: 50px;
	margin: 8px;
}

.img-contribuidores2{
	width: 70px;
	height: 45px;
	margin: 8px;
}

.img-contribuidores3{
	width: 80px;
	height: 35px;
	margin: 8px;
}

.img-contribuidores4{
	width: 48px;
	height: 48px;
	margin: 8px;
}

.img-contribuidores5{
	width: 75px;
	height: 45px;
	margin: 8px;
}

.menu2{
	height:32%;
	width: 38%; 
	margin-left: 30%;
	margin-top: 37px;
}

.menu-slide1{
	border-width: thick;
	border-style: solid;
	border-color: gold;
	margin:1%;
}

.menu-slide2{
	border-width: thick;
	border-style: solid;
	border-color: #33ccff;
	margin:1%;
}

.menu-slide3{
	border-width: thick;
	border-style: solid;
	border-color: #009900;
	margin:1%;
}

.menu-slide4{
	border-width: thick;
	border-style: solid;
	border-color: #862d86;
	margin:1%;
}

.menu-slide5{
	border-width: thick;
	border-style: solid;
	border-color: gold;
	padding: 5px;
	margin:1%;
}*/